<!DOCTYPE html>
<html>
  <head>
    <title>BZR - Create your Shop</title>
    <meta/>
    <meta/>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <header>
      <%= render 'shared/header' %>
    </header>
    <section class="content">      
      <%= yield %>
    </section>
    <footer>
      &copy 2018 BZarre
    </footer>
  </body>
</html>
